@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Index.css" rel="stylesheet" />
<div class="news">
    <div class="pic"></div>
    <div class="wz_title">
        <div class="a1"><a href="#">信息快递</a></div>
        <div class="a2"><a href="#">公告通知</a></div>
        <div class="btn"><a href="#">more</a></div>
        <div class="wenzi">
            <div class="wenzi1">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示 ...  2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示...   2013-10-19 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wenzi_2"></div>
</div>

<div class="center">
    <div class="item1">
        <div class="title">
            <h>政策法规</h>
            <div class="gd"><a href="#">更多 》</a></div>
            <br />
            <div class="xinxi">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="title">
            <h>资助指南</h>
            <div class="gd"><a href="#">更多 》</a></div>
            <div class=" xinxi">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="title">
            <h>网上公示</h>
            <div class="gd"><a href="#">更多 》</a></div>
            <div class=" xinxi">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示 </a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="center1">
    <div class="item3">
        <div class="title1">
            <h>违约通报</h>
            <div class="gd1"><a href="#">更多 》</a></div>
        </div>
        <div class="news1">
            <div class="news2">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item4">
        <div class="title1">
            <h>诚信教育</h>
            <div class="gd1"><a href="#">更多 》</a></div>
        </div>
        <div class="news1">
            <div class="news2">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item4">
        <div class="title1">
            <h>诚信教育</h>
            <div class="gd1"><a href="#">更多 》</a></div>
        </div>
        <div class="news1">
            <div class="news2">
                <ul>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                    <li><a href="#">郑州轻工业学院2013年度国家助学贷款申请名单公示</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

